/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;
}

.homepage_bg{
    background:url('./assets/Images/bghome.svg');
}

.glass{
    background:radial-gradient(#053B48 5%,#000814 70%);
    backdrop-filter: blur(50px);
    box-shadow: 5px 5px 20px 2px #7EC0D9;
}

.yellowButton {
    @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
  }
  .blackButton {
    @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
  }  